<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone Store</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <!-- Navbar -->
    <nav class="navbar">
      <a href="/cart" class="cart-button">
        🛒 Giỏ hàng (<%= cartCount || 0 %>)
      </a>
    </nav>

    <!-- Danh sách sản phẩm -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://i.ytimg.com/vi/wreAhhYsYYc/maxresdefault.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.pinimg.com/originals/66/3c/61/663c6132143da14acfb58c54d1c62a4c.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.pinimg.com/originals/2d/70/76/2d7076754a73465c7b9bd4163c9d2478.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="product-list">
      <% phones.forEach(phone => { %>
      <div class="product-item">
        <img
          src="<%= phone.imageUrl %>"
          alt="<%= phone.name %>"
          class="product-image"
        />
        <h9><%= phone.name %></h9>
        <p style="font-size: 15px">
          Giá: <%= phone.price.toLocaleString() %> VND
        </p>
        <form action="/add-to-cart" method="POST">
          <input type="hidden" name="id" value="<%= phone._id %>" />
          <button type="submit" class="add-to-cart-button">
            Thêm vào giỏ hàng
          </button>
        </form>
      </div>
      <% }) %>
    </div>
  </body>
  <%- include('partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
